@font-face {
	font-family: '';
	src: url('../fonts/.eot');
	src: local('O'), url('../fonts/.woff') format('woff'), url('../fonts/.ttf') format('truetype'), url('../fonts/.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font: normal 100%/1.6 '' sans-serif;
	}